.login-container{
display:flex;
height:100vh;
font-family:Arial;
}

/* LEFT SIDE */

.login-left{
flex:1;
background-image:url("/login.jpg");
background-size:cover;
background-position:center;
position:relative;
color:white;
display:flex;
align-items:flex-end;
padding:40px;
}

.overlay-text h1{
font-size:40px;
margin-bottom:10px;
}

.overlay-text p{
max-width:400px;
}

/* RIGHT SIDE */

.login-right{
flex:1;
padding:60px;
display:flex;
flex-direction:column;
justify-content:center;
}

.logo{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
}

.logo-icon{
font-size:28px;
color:#1e73be;
}

.login-form{
display:flex;
flex-direction:column;
gap:10px;
margin-top:20px;
}

.login-form input{
padding:12px;
border:1px solid #ccc;
border-radius:5px;
}

.password-row{
display:flex;
justify-content:space-between;
}

.forgot{
color:#1e73be;
font-size:14px;
cursor:pointer;
}

.remember{
display:flex;
align-items:center;
gap:8px;
margin:10px 0;
}

.login-btn{
background:#1e73be;
color:white;
border:none;
padding:12px;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

.divider{
text-align:center;
margin:20px 0;
color:#777;
}

.google-btn{
background:#eee;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
}

.signup-text{
margin-top:20px;
}

.signup-text span{
color:#1e73be;
cursor:pointer;
}